/*
Custom Css
*/

.product-name {
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-image {
    display: block;
    transition: all .5s;
    padding: 1rem;
}

    .product-image:hover {
        padding: .2rem;
    }

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.nav-link {
    color: black;
}

.carousel-item {
    width: 100%; /*width you want*/
    height: 400px; /*height you want*/
    overflow: hidden;
}

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.number-input {
    height: 100%;
    width: 50%;
    font-size: 20px;
}

    /* Basket Start*/
    .number-input > .quantity {
        width: 70px;
    }

.empty-basket-icon {
    font-size: 48px;
}
/* Basket End*/

.validation-summary-valid {
    display: none;
}

.validation-summary-errors > ul {
    margin-bottom: 0;
}
