<!-- Start Footer -->
<footer id="tempaltemo_footer" style="background-color: #d6b98d;">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 border-bottom pb-3">İLETİŞİM</h2>
                <ul class="list-unstyled footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        254/6 Sokak No:1/A Keçiören / ANKARA
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="#">0 585 589 58 58</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@kahve.com">info@kahve.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 border-bottom pb-3">ÜRÜNLER</h2>
                <ul class="list-group">
                    @await Component.InvokeAsync("CategoryList")
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 border-bottom pb-3">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item rounded-circle text-center">
                        <a><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item rounded-circle text-center">
                        <a><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item rounded-circle text-center">
                        <a><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item rounded-circle text-center">
                        <a><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-light border-dark" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left">
                        Copyright &copy; 2021 Kahve
                        | Designed by Elif G. Uzgur
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->
