<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/slick.min.css" rel="stylesheet" />
    <link href="~/css/slick-theme.min.css" rel="stylesheet" />
    <link href="~/css/templatemo.min.css" rel="stylesheet" />
</head>
<body>

    <div class="home page-wrapper">
        <header class="header">

            @await Html.PartialAsync("_LayoutHeaderPartial")
        </header>

        <main>
            @RenderBody()
        </main>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer bg-white">

            @await Html.PartialAsync("_LayoutFooterPartial")

        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
